<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.integro.dbhs">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/l_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/l_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".PrincipalMessageActivity"/>
        <activity android:name=".WebActivity" />
        <activity android:name=".AnnouncementActivity" />
        <activity android:name=".NewsLetterActivity" />
        <activity android:name=".UpcomingEventsActivity" />
        <activity android:name=".NotificationActivity" />
        <activity android:name=".NewsDetailsActivity" />
        <activity android:name=".SupportUsActivity"/>
        <activity android:name=".NewsActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>